* {
    text-align: center;
}

body {
    background-color: hsl(224°, 23%, 55%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500px;
    font-weight: 700px;
    font-weight: 900px;
}
p {
    font-size: 16px;
}
.svg-image {
    width: 120%;
    position: fixed;
}
.card {
    width: 250px;
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px;
    background: white;
    border-radius: 20px;
    flex-wrap: wrap;  
    position: fixed;
    top: 25%;
    left: 39.6%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.confirm-payment-button {
    padding: 10px;
    width: 35vh;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: #3700ff;
    cursor: pointer;
    position: fixed;
    top: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancel-payment-button {
    position: fixed;
    top: 84%;
    border: none;
    background-color: transparent;
    position: relative;
    bottom: 10%;
}
