
.card {
    width: 250px;
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px;
    background: white;
    border-radius: 20px;
    flex-wrap: wrap;  
    position: fixed;
    top: 25%;
    left: 39.6%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
